<head>
	<title>Bad_Day</title>
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>
</head>
<body>
	<!-- container div -->
<div class = 'background'>
	<div class = 'container'>

		<!-- header -->
		<div class = "page-header">
			<div class = "row">
				<div class = "col-md-3" >
					<div class = 'logo'><a href="/">Bad_Day</a></div>
				</div>
				<div class = "right-head" class = "col-md-9">
			{% if session['name'] %}	
					<!-- Logout -->
					<form action = "/logout">
						Welcome, {{session['name']}}!
						<button type = "submit">Logout</button>
					</form>
				{% else %}
			<!-- Login/Register -->
				<form action = "/login" method = "post">
					<input placeholder = "E-mail" class = "input" name = 'email' type = 'text'>
					<input placeholder = "Password" class = "input" name = 'password' type = 'password'>
					<input type = 'submit' value = 'Log In'>
				</form>
				<p>Not a member yet? Join us <a href="/registration">here!</a></p>		
			{% endif %}		
				</div>
			</div>
			<!-- Nav Bar  -->
			<div>
				<nav class = "navbar navbar-default">
					<div class = "container-fluid">
						<div class = "navbar-header">
							<ul class = "nav navbar-nav">
								<li><a href="/">Home</a></li>
								<li><a href="/view">Today's Vents</a></li>
								<li><a href="/show_users">User List</a></li>
								<li><a href="/search">Search Vents</a></li>
								<li><a href="/about">About</a></li>
							</ul>
						</div>
					</div>
			</div>
			<!-- End of Nav Bar -->
		<!-- End of header -->
		</div>
	<!-- Registration Form -->
	<div class = "lemons">
		<!-- Changes text to black -->
		<div class = 'blackify'>
		<div class = "col-md-2">
			<h3>Glad To Have You!</h3>
			<form class = "register" action = '/register' method = "post">
				<input placeholder = "Username" name = 'username' type = 'text'>
				<input placeholder = "E-mail Address" name = 'email' type = 'text'>
				<input placeholder = "Password" name = 'password' type = 'password'>
				<input placeholder = "Confirm Password" name = 'confirm' type = 'password'>
				<input type = 'submit' value = 'Join Us!'>
			</form>	
		</div>
			<div class = "col-md-10">
			<h1>When life give you lemons,</h1>
			<h1>You can complain about those lemons here.</h1>
		</div>
		<!-- Ends blackify -->
		</div>
	<!-- End Container -->
	</div>
<!-- End Background -->
</div>
</body>
</html>